<div class="speed-dial-wrapper">
  <!-- Fab -->
  <button mat-fab
          [satPopoverAnchorFor]="dial"
          (click)="dial.toggle();">
    <mat-icon class="main_icon" [@spinInOut]="'in'" *ngIf="dial.isOpen()">close</mat-icon>
    <mat-icon class="main_icon" [@spinInOut]="'in'" *ngIf="!dial.isOpen()">{{icon}}</mat-icon>
  </button>
  <!-- Actions -->
  <sat-popover #dial [autoFocus]="false" verticalAlign="above">
    <div class="dial">
      <ng-container *ngFor="let a of actions">
        <button mat-mini-fab
                color="primary"
                [satPopoverAnchorFor]="tooltip"
                (mouseenter)="tooltip.open()"
                (mouseleave)="tooltip.close()"
                (click)="a.onclick()">
          <mat-icon>{{a.icon}}</mat-icon>
        </button>
        <sat-popover #tooltip horizontalAlign="before">
          <div class="tooltip mat-body-1">
            {{a.name}}
          </div>
        </sat-popover>
      </ng-container>
    </div>
  </sat-popover>
</div>
