<div style="float: left;padding-right: 1%; width: 15%">
  <app-commit-chooser
    (changeCommit)="handleCommitChanged($event)"
    [commitType]="commitTypes.left"
    [commits]="commits$"
    [label]="'First revision'"
    [loading]="commitsLoading$ | async"
    [selected]="leftCommit$">
  </app-commit-chooser>
</div>

<div style="float: left;padding-right: 1%; width: 15%">
  <app-commit-chooser
    (changeCommit)="handleCommitChanged($event)"
    [commitType]="commitTypes.right"
    [commits]="commits$"
    [isDisabled]="disableRightSelect"
    [label]="'Second revision'"
    [loading]="commitsLoading$ | async"
    [selected]="rightCommit$">
  </app-commit-chooser>
</div>

<div style="float: left; padding-right: 1%; width: 15%">
  <app-search (startSearch)="handleSearchStarted($event)" [uniqueFileList$]="uniqueFileList$"></app-search>
</div>

<app-settings></app-settings>






