<app-header [title]="[{location: '/manage-users', name: 'Manage users'}]"></app-header>
<div *ngIf="waiting" class="dark-overlay">
  <mat-spinner class="waitingIndicator" [diameter]="100"></mat-spinner>
</div>
<mat-sidenav-container class="sidenav">
  <mat-sidenav mode="side" opened style="width: 15%">
    <app-sidenav-content></app-sidenav-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="card-list">
      <div class="grid-container">
        <mat-grid-list cols="2" rowHeight="130px">
          <mat-grid-tile *ngFor="let u of users" [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                  <a mat-button disabled style="color: black">{{u.username}}</a>
                  <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="deleteUser(u.id)">Remove</button>
                    <button mat-menu-item *ngIf="u.platformAdmin" (click)="setPermission(u.id, false)">Revoke platform admin permission</button>
                    <button mat-menu-item *ngIf="!u.platformAdmin" (click)="setPermission(u.id, true)">Make platform admin</button>
                  </mat-menu>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="mat-card-content">
                <div style="padding-bottom: 0">User is a platform admin: <strong>{{u.platformAdmin}}</strong></div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
