.dashboard-card {
  position: absolute;
  top: 1px;
  left: 15px;
  right: 15px;
}

.dashboard-card-deselected {
  animation: card-deselect 0.5s;
}

.card-list p {
  font-size: 15pt;
  width: 60%;
  top: 15px;
  float: right;
  margin-right: 15%;
}

.card-list mat-grid-list {
  margin-right: 10%;
  margin-bottom: 50px;
  width: 70%;
  top: 15px;
  float: right
}

.card-list mat-card-content {
  margin-left: 5%;
}

.dashboard-card-selected {
  animation: card-select 0.5s;
  background-color: #fadab3;
}

@keyframes card-select {
  0% {
    background-color: white;
  }
  100% {
    background-color: #fadab3;
  }
}

@keyframes card-deselect {
  0% {
    background-color: #fadab3;
  }
  100% {
    background-color: white;
  }
}

.compare-button {
  right: 7%;
  bottom: 8%;
  position: fixed;
  animation: show 0.2s;
  z-index: 3;
  transform: scale(1.5, 1.5);
}

.compare-button-2 {
  right: 14%;
  bottom: 8%;
  position: fixed;
  animation: show 0.2s;
  z-index: 3;
  transform: scale(1.5, 1.5);
}

@keyframes show {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5);
  }
}

.paginator {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  float: right;
  background-color: whitesmoke;
  width: 50%;
  margin-right: 11%;
  margin-bottom: 30px;
}
