<app-header [title]="[{location: '/dashboard', name: 'Dashboard'}, {location: '/project/' + project.id, name: appComponent.trimProjectName(project.name)}]"></app-header>

<main>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="All commits">
      <app-commit-list [commits]="commits" [project]="project" [commitsAnalyzed]="commitsAnalyzed">
      </app-commit-list>
    </mat-tab>
    <mat-tab label="Graph view">
      <ng-template matTabContent>
        <app-compare-branches [commits]="commits" [project]="project"></app-compare-branches>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</main>

<app-footer></app-footer>
