<app-header [title]="[{location: '/dashboard', name: 'Dashboard'}, {location: '/project/' + project.id, name: appComponent.trimProjectName(project.name)}]"></app-header>

<main class="card-list">
  <p>{{getTitleText()}}
    <br>
    <mat-label style="font-size: 12pt">Analyzed {{commitsAnalyzed}}/{{commits.length}} commits</mat-label>
  </p>
  <mat-grid-list cols="1" rowHeight="50px" gutterSize="-2px" >
    <mat-accordion class="example-headers-align" *ngFor="let commit of commits.slice(pageEvent.pageIndex*pageEvent.pageSize, (pageEvent.pageIndex*pageEvent.pageSize) + pageEvent.pageSize)">
      <mat-grid-tile [colspan]="1" [rowspan]="(commit === selectedCommit1 || commit === selectedCommit2) ? 4 : 1">
          <mat-expansion-panel [expanded]="(commit === selectedCommit1 || commit === selectedCommit2)"
                               [ngClass]="{'dashboard-card-selected' : commit === selectedCommit1 || commit === selectedCommit2}"
                    class="dashboard-card" style=" border-radius: 0;" (click)="selectCard(commit)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{commit.name.substr(0, 7)}}
              </mat-panel-title>
              <mat-panel-description>
                Author: {{commit.author}}
              </mat-panel-description>
              <mat-panel-description style="position: absolute; left: 63%;">
                Date: {{timestampToDate(commit.timestamp)}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-label>Analyzed: <b>{{booleanToString(commit.analyzed)}}</b></mat-label><br>
            <mat-action-row>
              <a mat-button routerLink="/project/{{project.id}}/{{commit.name}}"><b>Raw metrics</b></a><br>
            </mat-action-row>
          </mat-expansion-panel>
      </mat-grid-tile>
    </mat-accordion>

    <app-speed-dial *ngIf="selectedCommit1 !== null && selectedCommit2 != null && selectedCommit1.analyzed && selectedCommit2.analyzed"
                    [actions]="actions"
                    [icon]="'3d_rotation'">
    </app-speed-dial>


  </mat-grid-list>
</main>

<mat-paginator [showFirstLastButtons]="true" class="paginator" [length]="commits.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">
</mat-paginator>

<app-footer></app-footer>
