.dashboard-card {
  position: absolute;
  top: 1px;
  left: 15px;
  right: 15px;
  bottom: 5px;
  animation: card-deselect 0.5s;
}

.card-list p {
  font-size: 15pt;
  width: 60%;
  top: 15px;
  float: right;
}

.city-map-link {
  font-size: 15pt;
  top: 15px;
  float: right;
  margin-right: 10%;
}

.card-list mat-grid-list {
  margin-right: 10%;
  margin-bottom: 50px;
  width: 70%;
  top: 15px;
  float: right
}

.card-list mat-card-content {
  margin-left: 5%;
}

.dashboard-card-selected {
  @extend .dashboard-card;
  animation: card-select 0.5s;
  background-color: lightgray;
  border-color: black;
}

@keyframes card-select {
  0% {
    background-color: white;
  }
  100% {
    background-color: lightgray;
  }
}

@keyframes card-deselect {
  0% {
    background-color: lightgray;
  }
  100% {
    background-color: white;
  }
}