<mat-card class="mt-3">
    <div class="d-flex justify-content-between">
        <mat-card-title>Leak Period</mat-card-title>
        <div>
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Goal configuration</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </div>
    </div>
    <div>
      <!-- Hier kommt der Inhalt der Karte rein -->
      Lorem ipsum
    </div>
  </mat-card>
  