<app-header [title]="[{location: '/dashboard', name: 'Dashboard'}, {location: '/project-edit/' + projectId, name: 'Edit ' + projectName}]"></app-header>

<main class="mat-card-form">
  <div class="grid-container">
    <div fxLayoutAlign="center center" id="cardContainer">
      <form (ngSubmit)="submitForm()">
        <mat-card>

          <!--Card title-->
          <mat-card-header>
            <mat-card-title>
              <span>Edit {{projectName}}</span>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content fxLayout="column">

            <!--Form fields-->
            <mat-form-field>
              <input [(ngModel)]="project.name" matInput maxlength="100" name="name" placeholder="Project name"
                     required type="text">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="project.vcsUrl" matInput name="vcsUrl" placeholder="VCS URL" required type="url">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="project.vcsUser" matInput maxlength="100" name="vcsUser" placeholder="VCS user"
                     type="text">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="project.vcsPassword" matInput maxlength="100" name="vcsPassword" placeholder="VCS password"
                     type="password">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="project.startDate" matInput name="startDate"
                     placeholder="Start date - leave empty to start with first commit" type="date">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="project.endDate" matInput name="endDate" placeholder="End date - leave empty to scan incoming commits"
                     type="date">
            </mat-form-field>
            <mat-error *ngIf="nameEmpty">The project name must not be empty!</mat-error>
            <mat-error *ngIf="projectExists">A project with this name already exists! Please choose another name.
            </mat-error>
            <mat-error *ngIf="incorrectURL">The VCS URL is invalid!</mat-error>

            <!--Cancel and submit buttons-->
            <div align="center" id="cardButtons">
              <button mat-stroked-button routerLink="/dashboard" type="button">Cancel</button>
              <button color="primary" mat-raised-button type="submit">Save</button>
            </div>

          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</main>

<app-footer></app-footer>
