.list {
  margin-bottom: 20px;
}

.list > .list-title {
  margin-bottom: 15px;
}

.list mat-form-field {
  width: 80%;
}

.list div.row button {
  float: right;
}

.list span {
  overflow-wrap: break-word;
}

.dark-overlay{
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 3;
  min-height: calc(100vh);
}
