/.idea
/.gradle
/*.iws
/*.ipr
/coderadar-plugins/findbugs-adapter-plugin/src/gen/java
/schema/episodes
*.iml
*.jar
!/gradle/wrapper/gradle-wrapper.jar
build
coderadar-server/local.application.properties
*.class
/classes