<span>
<!--TODO: DROPDOWN-->
    <mat-checkbox style="padding-right: 10px" [(ngModel)]="activeFilter.unmodified" (change)="handleFilterChanged()">unchanged</mat-checkbox>
    <mat-checkbox style="padding-right: 10px" [(ngModel)]="activeFilter.modified" (change)="handleFilterChanged()">changed</mat-checkbox>
    <mat-checkbox style="padding-right: 10px" [(ngModel)]="activeFilter.deleted" (change)="handleFilterChanged()">deleted</mat-checkbox>
    <mat-checkbox style="padding-right: 10px" [(ngModel)]="activeFilter.added" (change)="handleFilterChanged()">added</mat-checkbox>
    <mat-checkbox style="padding-right: 10px" [(ngModel)]="activeFilter.renamed" (change)="handleFilterChanged()">renamed/moved</mat-checkbox>
</span>
