<app-header [title]="'Configure project'"></app-header>

<main class="mat-card-form">
  <div id="cardContainer" class="grid-container">
    <div fxLayoutAlign="center center">
      <form (ngSubmit)="submitForm()">
          <mat-card>

            <!--Card title-->
            <mat-card-header>
              <mat-card-title>
                <span>Configure {{(projectName)}}</span>
              </mat-card-title>
            </mat-card-header>

            <mat-card-content>

              <!--Analyzers-->
              <div class="list">
                <div class="list-title">
                  <mat-label>Select analyzers:</mat-label>
                </div>
                <div *ngFor="let analyzer of analyzers">
                  <mat-checkbox name="analyzer-{{analyzer.analyzerName}}" [(ngModel)]="analyzer.enabled">
                    {{analyzer.analyzerName.split('.').pop()}}
                  </mat-checkbox>
                </div>
              </div>

              <!--Included file patterns-->
              <div class="list">
                <div class="list-title">
                  <mat-label>Included file patterns:</mat-label>
                </div>
                <div *ngFor="let pattern of filePatterns">
                  <div *ngIf="pattern.inclusionType === 'INCLUDE'">
                    {{pattern.pattern}}
                    <button mat-button (click)="filePatterns.splice(filePatterns.indexOf(pattern), 1)">-</button>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field>
                    <input type="text" matInput name="includePatterns" placeholder="Pattern" [(ngModel)]="filePatternIncludeInput">
                  </mat-form-field>
                  <button type="button" mat-button (click)="addToIncludedPatterns()">+</button>
                </div>
              </div>

              <!--Excluded file patterns-->
              <div class="list">
                <div class="list-title">
                  <mat-label>Excluded file patterns:</mat-label>
                </div>
                <div *ngFor="let pattern of filePatterns">
                  <div *ngIf="pattern.inclusionType === 'EXCLUDE'">
                    {{pattern.pattern}}
                    <button mat-button (click)="filePatterns.splice(filePatterns.indexOf(pattern), 1)">-</button>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field>
                    <input type="text" matInput name="excludePatterns" placeholder="Pattern" [(ngModel)]="filePatternExcludeInput">
                  </mat-form-field>
                  <button type="button" mat-button style="float:right" (click)="addToExcludedPatterns()">+</button>
                </div>
              </div>

              <!--Project modules-->
              <div class="list">
                <div class="list-title">
                  <mat-label>Project modules:</mat-label>
                </div>
                <div *ngFor="let module of modules">
                  {{module}}
                  <button mat-button (click)="modules.splice(modules.indexOf(module), 1)">-</button>
                </div>
                <div class="row">
                  <mat-form-field>
                    <input type="text" matInput name="modules" placeholder="Module" [(ngModel)]="modulesInput">
                  </mat-form-field>
                  <button type="button" mat-button style="float:right" (click)="modules.push(modulesInput); modulesInput = ''">+</button>
                </div>
              </div>

              <mat-checkbox name="analyzer" [(ngModel)]="startScan">Start analyzing job</mat-checkbox>

            </mat-card-content>

            <!--Possible errors-->
            <mat-error *ngIf="noAnalyzersForJob">Please select at least one analyzer to start an analyzing job.</mat-error>

            <!--Cancel and submit buttons-->
            <div id="cardButtons" align="center">
              <button mat-stroked-button type="button" routerLink="/dashboard">Cancel</button>
              <button mat-raised-button color="primary" type="submit">Done</button>
            </div>
        </mat-card>
      </form>
    </div>
  </div>
</main>

<app-footer></app-footer>
