<div id="comparison-panel">
    <strong title="{{elementName}}" class="element-name">{{elementName}}</strong>
    <div class="table-container">
        <table id="comparison-table" class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Metrik</th>
                <th id="first-commit-id">{{leftCommit?.name}}</th>
                <th id="second-commit-id">{{rightCommit?.name}}</th>
                <th>Änderung</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of tableRows">
                    <td>{{row.metricName}}</td>
                    <td>{{row.leftCommitValue}}</td>
                    <td>{{row.rightCommitValue}}</td>
                    <td>
                        <fa-icon *ngIf="row.difference > 0" [icon]="faCaretUp"></fa-icon>
                        <fa-icon *ngIf="row.difference < 0" [icon]="faCaretDown"></fa-icon>
                        <fa-icon *ngIf="row.difference === 0" [icon]="faCaretRight"></fa-icon>
                        {{row.difference}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="handleClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>