@import "../../../config";

#comparison-panel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 100%, 0) scale(0.1);
  padding: 5px 20px;
  max-width: 40%;
  height: 190px;
  background: $background-color;
  box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  z-index: 100;

  transition: transform 1.5s ease;

  &.open {
    transform: translate3d(-50%, 0%, 0) scale(1.0);
  }

  & > .element-name {
    display: block;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    direction: rtl;
    margin: 10px auto;
    padding: 0 10px;
  }

  & table {
    #first-commit-id, #second-commit-id {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  button.close {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
