<app-header [title]="'Edit project'"></app-header>
<main>
  <div class="grid-container">
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 2%">
      <form (ngSubmit)="submitForm()">
        <mat-card style="width: 600px">
          <mat-card-header>
            <h1>Edit the project</h1>
          </mat-card-header>
          <div>&nbsp;</div>
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input type="text" matInput name="name" placeholder="Project name" [(ngModel)]="project.name" required>
            </mat-form-field>
            <mat-form-field>
              <input type="url" matInput name="vcsUrl" placeholder="VCS URL" [(ngModel)]="project.vcsUrl" required>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput name="vcsUser" placeholder="VCS user" [(ngModel)]="project.vcsUser" required>
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput name="vcsPassword" placeholder="VCS password" [(ngModel)]="project.vcsPassword" required>
            </mat-form-field>
            <mat-form-field>
              <input type="date" matInput name="startDate" placeholder="Start date" [(ngModel)]="project.startDate" required>
            </mat-form-field>
            <mat-form-field>
              <input type="date" matInput name="endDate" placeholder="End date" [(ngModel)]="project.endDate" required>
            </mat-form-field>

            <mat-label>Select analyzers:</mat-label>
            <div *ngFor="let analyzer of analyzers">
              <mat-checkbox name="analyzer" [(ngModel)]="analyzer.enabled">{{formatAnalyzerName(analyzer.analyzerName)}}</mat-checkbox>
            </div>
            <div>&nbsp;</div>
            <mat-label>Included file patterns:</mat-label>
            <div>&nbsp;</div>

            <div *ngFor="let pattern of filePatterns">
              <div *ngIf="pattern.inclusionType === 'INCLUDE'">
                {{pattern.pattern}}
              </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
              <mat-form-field style="width: 85%">
                <input  style="position: static;" type="text" matInput name="includePatterns" placeholder="Included file patterns" [(ngModel)]="filePatternIncludeInput">
              </mat-form-field>
              <button type="button"  mat-mini-fab style="float:right" (click)="addToIncludedPatterns()">+</button>
            </div>

            <mat-label>Excluded file patterns: </mat-label>
            <div>&nbsp;</div>
            <div *ngFor="let pattern of filePatterns">
              <div *ngIf="pattern.inclusionType === 'EXCLUDE'">
                {{pattern.pattern}}
              </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
              <mat-form-field style="width: 85%">
                <input  style="position: static;" type="text" matInput name="excludePatterns" placeholder="Excluded file patterns" [(ngModel)]="filePatternExcludeInput">
              </mat-form-field>
              <button type="button" mat-mini-fab style="float:right" (click)="addToExcludedPatterns()">+</button>
            </div>

            <mat-label>Project modules: </mat-label>
            <div>&nbsp;</div>
            <div *ngFor="let module of modules">
              {{module}}
            </div>
            <div>&nbsp;</div>
            <div class="row">
              <mat-form-field style="width: 85%">
                <input  style="position: static;" type="text" matInput name="modules" placeholder="Project modules" [(ngModel)]="modulesInput">
              </mat-form-field>
              <button type="button" mat-mini-fab style="float:right" (click)="modules.push(modulesInput)">+</button>
            </div>

            <!--
                       <mat-error *ngIf="invalidPassword">Password too short!</mat-error>
            -->
          </mat-card-content>
          <mat-card-actions style="margin-left: 17%; padding-bottom: 30px">
            <button mat-stroked-button color="accent" routerLink="/dashboard">Cancel</button>
            <button mat-raised-button color="primary" style="width: 60px" type="submit">Save</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</main>
<app-footer>
</app-footer>
