.row {
    margin-bottom: 20px; 
  }
  
  .custom-button {
    border-radius: 16px;
    line-height: 32px;
  }
  
  .mat-basic-chip {
    background-color: yellow;
    border-radius: 30px; 
  }
  
  .mat-basic-chip:focus {
   outline: none;
  }
  
  .mat-basic-chip > div {
    display: inline-block;
    overflow: hidden;
    line-height: 32px;
    padding: 11px;
  }
  
  .allow-overflow {
    overflow: inherit;
  }
  .commitName {
    font-size: 10px;
  }