<app-header [title]="'Dashboard'"></app-header>
<main>
  <div class="grid-container">
    <div  style="font-size: x-large" align="center" *ngIf="projects.length == 0">
      Hello there, it looks like you haven't added any projects yet. <br>
      click on the plus button to add one.
    </div>
    <mat-grid-list cols="2" rowHeight="200px" style="width: 70%;float:right;margin-right: 10%">
      <mat-grid-tile *ngFor="let project of projects" [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <a style="font-size: 15pt" mat-button routerLink="/project/{{project.id}}">{{project.name}}</a>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="/project-edit/{{project.id}}">Edit</button>
                <button mat-menu-item routerLink="/project-configure/{{project.id}}">Configure</button>
                <button mat-menu-item (click)="removeProject(project)">Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content style="padding-left: 30px" class="mat-card-content">
            <mat-label>Project URL: <a href="{{project.vcsUrl}}">{{project.vcsUrl}}</a></mat-label><br>
            <mat-label>Project start date: {{project.startDate}}</mat-label><br>
            <mat-label>Project end date: {{project.endDate}}</mat-label><br>
            <mat-label>Analysis: <b>{{project.analysisStatus}}</b></mat-label>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <a class="add-button" mat-fab color="accent" routerLink="/add-project">
        <mat-icon class="add-icon">+</mat-icon>
      </a>
    </mat-grid-list>
  </div>
</main>
<app-footer>
</app-footer>
