<header>
  <mat-toolbar class="mat-elevation-z6 toolbar" color="primary">
    <a id="dashboardLink" mat-button routerLink="/dashboard">
      <img src="../../../assets/logo.png" alt="logo">
      &nbsp;Coderadar
    </a>
    <button mat-button [matMenuTriggerFor]="userDropdown">
      {{getUsername()}}
      <img src="../../../assets/account.png" height="60px" width="60px" alt="user">
      <mat-menu class="mat-menu-panel" #userDropdown="matMenu" xPosition="before">
        <a mat-menu-item routerLink="/user-settings">User settings</a>
        <a mat-menu-item (click)="logout()">Logout</a>
      </mat-menu>
    </button>
  </mat-toolbar>
  <div class="spacer"></div>
  <mat-toolbar class="md-elevation-z5" color="primary">
    <app-control-panel style="width: 100%;"></app-control-panel>
  </mat-toolbar>
</header>

