<header>
  <mat-toolbar class="mat-elevation-z6 toolbar" color="primary">
    <a id="dashboardLink" mat-button routerLink="/dashboard">
      <img alt="logo" src="../../../assets/logo.png">
      &nbsp;Coderadar
    </a>
    <button [matMenuTriggerFor]="userDropdown" mat-button>
      {{getUsername()}}
      <img alt="user" height="60px" src="../../../assets/account.png" width="60px">
      <mat-menu #userDropdown="matMenu" class="mat-menu-panel" xPosition="before">
        <a mat-menu-item routerLink="/user-settings">User settings</a>
        <a (click)="logout()" mat-menu-item>Logout</a>
      </mat-menu>
    </button>
  </mat-toolbar>
  <div class="spacer"></div>
  <mat-toolbar class="md-elevation-z5" color="primary">
    <app-control-panel style="width: 100%;"></app-control-panel>
  </mat-toolbar>
</header>

