<mat-card class="mt-3">
    <div class="d-flex justify-content-between">
        <mat-card-title>Goals</mat-card-title>
        <div>
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="openGoalConfigurationDialog()">Goal configuration</button>
          </mat-menu>
        </div>
    </div>
    <mat-card-content>
      <div *ngFor="let goal of goalRespObj.goals">
          <div class='goal' [ngClass]="{
            'goal-success': goal.isSuccessful == 'success',
            'goal-fail': goal.isSuccessful == 'fail'}">
            <span>{{goal.metricDefinition}}</span>
            <br>
            <span>{{goal.conditionType}} {{goal.conditionValue}}</span>
            <br>
            <span class="currentValue">Currently: {{goal.metricValue}}</span>
          </div>
      </div>
    </mat-card-content>
  </mat-card>
  