<div mat-dialog-title [matTooltipClass]="'alias-tooltip'" matTooltip="{{getAliasTooltipText()}}">
  <p class="contributor-name">{{contributor.displayName}}</p>
</div>
<div mat-dialog-content>
  <div>
    <img class="contributor-avatar"*ngIf="avatarUrl" src="assets/account.png" align="center">
    <p><b>Contact:</b></p>
    <ul style="padding: 0px 16px">
      <li *ngFor="let email of contributor.emailAddresses">
        <a href = "mailto: {{email}}">{{email}}</a>
      </li>
    </ul>
  </div>
</div>

