<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <form (ngSubmit)="submitForm()">
    <mat-card>
      <mat-card-header>
        <h1 style="padding-left: 25px">Coderadar</h1>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input type="text" matInput placeholder="Username"  name="username" [(ngModel)]="username" required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="password" required>
        </mat-form-field>
        <mat-error *ngIf="invalidUser">The user does not exist<br> or the password is incorrect!</mat-error>
        <mat-error *ngIf="invalidPassword">Password too short!</mat-error>
      </mat-card-content>
      <mat-card-actions style="padding-bottom: 30px">
        <a style="padding-left: 20px;padding-right: 20px;padding-top: 5px" routerLink="/register">No account? Sign up</a>
        <button type="submit" mat-raised-button color="primary">Log in</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
