<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <form (ngSubmit)="submitForm()">
    <mat-card>
      <mat-card-header style="justify-content: center">
        <mat-card-title style="font-size: 30pt">Coderadar</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input type="text" matInput placeholder="Username"  name="username" [(ngModel)]="username" required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="password" required>
        </mat-form-field>
        <mat-error *ngIf="invalidUser">The user does not exist<br> or the password is incorrect!</mat-error>
        <mat-error *ngIf="invalidPassword">Password too short!</mat-error>
      </mat-card-content>
      <div align="center">
        <button style="margin: 10px" mat-button routerLink="/register">No account? Sign up</button>
        <button style="margin: 10px" mat-raised-button type="submit"  color="primary">Log in</button>
      </div>
    </mat-card>
  </form>
</div>
