$background-color: #fff;
$font-color-light: #6c757d;

$transparent-background-mask-color: rgba(0, 0, 0, 0.7);
$tooltip-background-color: #2B222A;

$state-inactive-color: #ccc;
$state-active-color: #000;
$state-hover-color: #f3f3f3;
$state-disabled-color: #eee;