
/*
 * BREADBRUMBS
 */
ol.breadcrumb{
    background-color:#ffffff;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb a {
    cursor:pointer;
}

/*
 * METRIC DASHBOARD
 */
.metric-box{
    display: block;
    min-height: 70px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-bottom: 15px;
}

.metric-box .info-box-content{
    margin-left: 0px;
}

/*
 * FILE LIST
 */
.table-hover > tbody > tr:hover {
    cursor:pointer;
    background-color: #f8efc0;
}

.table-hover > tbody > tr.active {
    background-color: #ffe87c;
    font-weight: bold;
}

.table-hover > tbody > tr.active > td {
    background-color: #ffe87c ;
    font-weight: bold;
}
