.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.add-button {
  right: 7%;
  bottom: 8%;
  width: 80px;
  height: 80px;
  font-size: large;
  position: fixed;
}

.add-icon {
  margin-top: 8px;
}

.card-list mat-grid-list {
  width: 70%;
  float: right;
  margin-right: 10%;
}

.card-list mat-card-header a {
  font-size: 18pt;
}

.card-list mat-card-content {
  padding-left: 30px;
}

.card-list #noProjectsMessage {
  font-size: x-large;
}

.card-list mat-card-content > div {
  padding-bottom: 10px;
}

.card-list mat-error {
  float: right;
  margin-right: 100px;
  margin-top: 2px;
}
