@import "../../../config";

.loading-indicator-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $transparent-background-mask-color;
  left: 0;
  z-index: 1000;

  .uil-cube-css {
    background: none;
    position: absolute;
    width: 200px;
    height: 200px;

    -webkit-transform: translateX(-50%) scale(0.5);
    top: calc(50% - 130px);
    left: 50%;

    & > div {
      position: absolute;
      width: 80px;
      height: 80px;
      -ms-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
      -moz-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
      -webkit-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
      -o-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
      animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
    }
    & > div:nth-of-type(1) {
      top: 10px;
      left: 10px;
      background: $background-color;
      opacity: 0.9;
      -ms-animation-delay: 0s;
      -moz-animation-delay: 0s;
      -webkit-animation-delay: 0s;
      -o-animation-delay: 0s;
      animation-delay: 0s;
    }
    & > div:nth-of-type(2) {
      top: 10px;
      left: 110px;
      background: $background-color;
      opacity: 0.8;
      -ms-animation-delay: 0.1s;
      -moz-animation-delay: 0.1s;
      -webkit-animation-delay: 0.1s;
      -o-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
    & > div:nth-of-type(3) {
      top: 110px;
      left: 10px;
      background: $background-color;
      opacity: 0.7;
      -ms-animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      -webkit-animation-delay: 0.3s;
      -o-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    & > div:nth-of-type(4) {
      top: 110px;
      left: 110px;
      background: $background-color;
      opacity: 0.6;
      -ms-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -webkit-animation-delay: 0.2s;
      -o-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
  }
}

@-webkit-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
