<header>
  <mat-toolbar class="mat-elevation-z6 toolbar" color="primary">
    <a id="dashboardLink" mat-button routerLink="/dashboard">
      <img alt="logo" src="../../../assets/logo.png">
      &nbsp;Coderadar
    </a>
    <button [matMenuTriggerFor]="userDropdown" mat-button>
      {{getUsername()}}
      <img alt="user" height="60px" src="../../../assets/account.png" width="60px">
      <mat-menu #userDropdown="matMenu" class="mat-menu-panel" xPosition="before">
        <a mat-menu-item routerLink="/user-settings">User settings</a>
        <a (click)="logout()" mat-menu-item>Logout</a>
      </mat-menu>
    </button>
  </mat-toolbar>
  <div class="spacer"></div>
  <mat-toolbar class="md-elevation-z5" style="width: 100%" color="primary">
    <span style="margin-right: 10px">
      <a mat-button routerLink="/project/{{project.id}}/master" style="width: auto;">
        <mat-icon style="font-size: 16pt; color: white;">arrow_back_ios</mat-icon>
        <mat-label style="font-size: 20pt;">
          {{appComponent.trimProjectNameToLength(project.name, 16)}}
        </mat-label>
      </a>
    </span>

    <span style="width: 90%;float: right">
      <app-control-panel ></app-control-panel>
    </span>
  </mat-toolbar>
</header>

