<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.reflections" level="INFO"/>
    <logger name="org.wickedsource" level="INFO"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.dbunit" level="INFO"/>

</configuration>