<div class="btn-group">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <fa-icon [icon]="faChartBar"></fa-icon>
    </button>
    <div id="metric-mapping-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="form-group">
            <label for="height-metric-name"><fa-icon [icon]="faArrowsAltV"></fa-icon> Höhe</label>
            <select id="height-metric-name" class="custom-select w-auto" [(ngModel)]="metricMapping.heightMetricName">
                <option *ngFor="let metric of availableMetrics" [ngValue]="metric.metricName">{{metric.shortName}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="groundarea-metric-name"><fa-icon [icon]="faArrowsAlt"></fa-icon> Grundfläche</label>
            <select id="groundarea-metric-name" class="custom-select w-auto" [(ngModel)]="metricMapping.groundAreaMetricName">
                <option *ngFor="let metric of availableMetrics" [ngValue]="metric.metricName">{{metric.shortName}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="color-metric-name"><fa-icon [icon]="faPalette"></fa-icon> Farbe</label>
            <select id="color-metric-name" class="custom-select w-auto" [(ngModel)]="metricMapping.colorMetricName">
                <option *ngFor="let metric of availableMetrics" [ngValue]="metric.metricName">{{metric.shortName}}</option>
            </select>
        </div>

        <button type="button" class="btn btn-primary" (click)="applyMetricMappings()">übernehmen</button>
    </div>
</div>