<div>
  <fa-icon [icon]="faArrowsAltV"></fa-icon>&nbsp;
  <mat-select (selectionChange)="applyMetricMappings()" [(ngModel)]="metricMapping.heightMetricName"
              style="padding-right:5%;width: 13%">
    <mat-option *ngFor="let metric of availableMetrics" [value]="metric.metricName">{{metric.shortName}}</mat-option>
  </mat-select>

  <fa-icon [icon]="faArrowsAlt"></fa-icon>&nbsp;
  <mat-select (selectionChange)="applyMetricMappings()" [(ngModel)]="metricMapping.groundAreaMetricName"
              style="padding-right:5%; width: 13%">
    <mat-option *ngFor="let metric of availableMetrics" [value]="metric.metricName">{{metric.shortName}}</mat-option>
  </mat-select>

  <fa-icon [icon]="faPalette"></fa-icon>&nbsp;
  <mat-select (selectionChange)="applyMetricMappings()" [(ngModel)]="metricMapping.colorMetricName" style="width: 13%">
    <mat-option *ngFor="let metric of availableMetrics" [value]="metric.metricName">{{metric.shortName}}</mat-option>
  </mat-select>

</div>
