<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="coderadar">
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.ejb.naming_strategy">org.hibernate.cfg.EJB3NamingStrategy
        </property>

        <mapping class="org.wickedsource.coderadar.job.analyze.AnalyzeCommitJob"/>
        <mapping class="org.wickedsource.coderadar.analyzer.domain.AnalyzerConfiguration"/>
        <mapping class="org.wickedsource.coderadar.analyzer.domain.AnalyzerConfigurationFile"/>
        <mapping class="org.wickedsource.coderadar.analyzingstrategy.domain.AnalyzingStrategy"/>
        <mapping class="org.wickedsource.coderadar.commit.domain.Commit"/>
        <mapping class="org.wickedsource.coderadar.file.domain.CommitLogEntry"/>
        <mapping class="org.wickedsource.coderadar.commit.domain.CommitToFileAssociation"/>
        <mapping class="org.wickedsource.coderadar.file.domain.File"/>
        <mapping class="org.wickedsource.coderadar.file.domain.FileIdentity"/>
        <mapping class="org.wickedsource.coderadar.filepattern.domain.FilePattern"/>
        <mapping class="org.wickedsource.coderadar.metric.domain.finding.Finding"/>
        <mapping class="org.wickedsource.coderadar.job.merge.MergeLogJob"/>
        <mapping class="org.wickedsource.coderadar.metric.domain.metricvalue.MetricValue"/>
        <mapping class="org.wickedsource.coderadar.project.domain.Project"/>
        <mapping class="org.wickedsource.coderadar.qualityprofile.domain.QualityProfile"/>
        <mapping class="org.wickedsource.coderadar.qualityprofile.domain.QualityProfileMetric"/>
        <mapping class="org.wickedsource.coderadar.job.scan.commit.ScanCommitsJob"/>
        <mapping class="org.wickedsource.coderadar.job.scan.file.ScanFilesJob"/>
    </session-factory>
</hibernate-configuration>