<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
    http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
    <persistence-unit name="coderadar" transaction-type="RESOURCE_LOCAL">
        <class>org.wickedsource.coderadar.job.analyze.AnalyzeCommitJob</class>
        <class>org.wickedsource.coderadar.analyzer.domain.AnalyzerConfiguration</class>
        <class>org.wickedsource.coderadar.analyzer.domain.AnalyzerConfigurationFile</class>
        <class>org.wickedsource.coderadar.analyzingstrategy.domain.AnalyzingStrategy</class>
        <class>org.wickedsource.coderadar.commit.domain.Commit</class>
        <class>org.wickedsource.coderadar.file.domain.CommitLogEntry</class>
        <class>org.wickedsource.coderadar.commit.domain.CommitToFileAssociation</class>
        <class>org.wickedsource.coderadar.file.domain.File</class>
        <class>org.wickedsource.coderadar.file.domain.FileIdentity</class>
        <class>org.wickedsource.coderadar.filepattern.domain.FilePattern</class>
        <class>org.wickedsource.coderadar.analyzer.api.Finding</class>
        <class>org.wickedsource.coderadar.job.merge.MergeLogJob</class>
        <class>org.wickedsource.coderadar.metric.domain.metricvalue.MetricValue</class>
        <class>org.wickedsource.coderadar.project.domain.Project</class>
        <class>org.wickedsource.coderadar.qualityprofile.domain.QualityProfile</class>
        <class>org.wickedsource.coderadar.qualityprofile.domain.QualityProfileMetric</class>
        <class>org.wickedsource.coderadar.job.scan.commit.ScanCommitsJob</class>
        <class>org.wickedsource.coderadar.job.scan.file.ScanFilesJob</class>
        <class>org.wickedsource.coderadar.module.domain.Module</class>
        <class>org.wickedsource.coderadar.security.domain.User</class>

        <properties>
            <property name="hibernate.ejb.naming_strategy"
                      value="org.springframework.boot.orm.jpa.hibernate.SpringNamingStrategy"/>
        </properties>
    </persistence-unit>
</persistence>