<app-header [title]="[{location: '/dashboard', name: 'Dashboard'}]"></app-header>
<div *ngIf="waiting" style="height: 100%">
  <mat-spinner class="waitingIndicator" [diameter]="100"></mat-spinner>
</div>
<mat-sidenav-container class="sidenav">
  <mat-sidenav mode="side" opened style="width: 15%">
    <app-sidenav-content></app-sidenav-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="card-list">
    <div class="grid-container">

      <!--Message displayed if no projects are found-->
      <div *ngIf="projects.length == 0 && selectedTeam == undefined" class="noProjectsMessage">
        Hello there, it looks like you haven't added any projects yet. <br>
        Click on the plus button to add one.
      </div>
      <div *ngIf="projects.length == 0 && selectedTeam != undefined" class="noProjectsMessage">
        No projects available in the selected team
      </div>

      <!--Project card list-->
      <mat-form-field class="contributorSelector">
        <mat-label>Team</mat-label>
        <mat-select (selectionChange)="getProjects()" [(value)]="selectedTeam">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let team of teams" [value]="team">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-grid-list cols="2" rowHeight="170px">
        <mat-grid-tile *ngFor="let project of projects" [colspan]="2" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                <a mat-button routerLink="/project/{{project.id}}">{{appComponent.trimProjectName(project.name)}}</a>
                <button title="Start analysis" (click)="startAnalysis(project.id)" style="float:right" mat-icon-button>
                  <mat-icon>play_arrow</mat-icon>
                </button>
                <button title="Stop analysis" (click)="stopAnalysis(project.id)" style="float:right" mat-icon-button>
                  <mat-icon>stop</mat-icon>
                </button>
                <button title="Delete analysis results" (click)="resetAnalysis(project.id)" style="float:right" mat-icon-button>
                  <mat-icon>clear</mat-icon>
                </button>
                <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item routerLink="/project-edit/{{project.id}}">Edit</button>
                  <button mat-menu-item routerLink="/project-configure/{{project.id}}">Configure</button>
                  <button mat-menu-item (click)="openAddToTeamDialog(project)">Add to team</button>
                  <button (click)="openProjectDeletionDialog(project)" mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mat-card-content">
              <div style="padding-bottom: 0">Project URL: <a href="{{project.vcsUrl}}" target="_blank" mat-flat-button>{{project.vcsUrl}}</a></div>
              <div>Project start date: <strong>&nbsp;&nbsp;{{project.startDate}}</strong></div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <!--The big plus button-->
        <a class="add-button" color="accent" mat-fab routerLink="/add-project">
          <mat-icon class="add-icon">+</mat-icon>
        </a>

      </mat-grid-list>
    </div>
  </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
