.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.add-button {
  right: 7%;
  bottom: 8%;
  width: 80px;
  height: 80px;
  font-size: large;
  position: fixed;
  z-index: 1;
}

.add-icon {
  margin-top: 8px;
  color: #ffffff;
}

.card-list mat-grid-list {
  width: 70%;
  float: left;
}

.card-list mat-card-header a {
  font-size: 18pt;
}

.card-list mat-card-content {
  padding-left: 30px;
}

.card-list .noProjectsMessage {
  font-size: x-large;
  text-align: center;
}

.card-list mat-card-content > div {
  padding-bottom: 10px;
}

.card-list mat-error {
  float: right;
  margin-right: 100px;
  margin-top: 2px;
}

.sidenav {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: ghostwhite;
  min-height: calc(100vh - 220px);
}
