@import "../_config";

.autosuggest-wrapper-container {
  position: relative;

  button.close {
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    background: #fff;
    padding: 5px;
    opacity: 1;
    outline: 0;

    & > span {
      color: $state-inactive-color;

      &:hover {
        color: $state-active-color;
      }
    }
  }

  button:disabled {
    display: none;
  }

  // allow a greater width for suggestions
  ngui-auto-complete {
    min-width: 100%;
    width: auto !important;
  }

  // align the suggestion dropdown to the right
  &.align-right {
    ngui-auto-complete {
      left: auto !important;
      right: 0;
    }
  }
}