<app-header [title]="'User setting'"></app-header>

<main class="mat-card-form">
  <div class="grid-container">
    <div id="cardContainer" fxLayoutAlign="center center">
      <form (ngSubmit)="submitForm()">
        <mat-card>

          <!--Card title-->
          <mat-card-header>
            <mat-card-title>
              <span>User settings</span>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content fxLayout="column">

            <!--Form fields-->
            <mat-form-field>
              <input type="password" matInput name="oldPassword" placeholder="Current password" [(ngModel)]="oldPassword" required>
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput name="newPassword" placeholder="New password" [(ngModel)]="newPassword" required>
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput name="confirmPassword" placeholder="Confirm new password" [(ngModel)]="newPasswordConfirm" required>
            </mat-form-field>

            <!--Possible errors-->
            <mat-error *ngIf="currentPasswordWrong">The current password is wrong!</mat-error>
            <mat-error *ngIf="invalidPassword">Password must be at least <br>8 symbols long and contain a digit!</mat-error>
            <mat-error *ngIf="passwordsDoNotMatch">Passwords do not match!</mat-error>

            <!--Cancel and submit buttons-->
            <div id="cardButtons" align="center">
              <button mat-stroked-button type="button" routerLink="/dashboard">Cancel</button>
              <button mat-raised-button color="primary" type="submit">Save</button>
            </div>

          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</main>

<app-footer></app-footer>
