<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header"><h3 class="box-title">Display Parameters</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Metric to display</label>
                            <select class="form-control" tabindex="1" ng-options="item as labelProvider.getLabelForMetric(item) for item in metrics track by item.id" ng-model="selectedMetric" ng-change="onParametersChanged()">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Baseline Commit</label>
                            <select class="form-control" tabindex="2" ng-options="item as labelProvider.getLabelForCommit(item) for item in commits track by item.id" ng-model="baselineCommit" ng-change="onParametersChanged()">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Previous Commit to compare with</label>
                            <select class="form-control" tabindex="3" ng-options="item as labelProvider.getLabelForCommit(item) for item in commits track by item.id" ng-model="deltaCommit" ng-change="onParametersChanged()">
                            </select>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>