<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header"><h3 class="box-title">Display Parameters</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Metric to display</label>
                            <select class="form-control" tabindex="1"
                                    ng-options="item as labelProvider.getLabelForMetric(item) for item in metrics track by item.id"
                                    ng-model="metric" ng-change="onParametersChanged()">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Baseline Commit</label>
                            <select class="form-control" tabindex="2"
                                    ng-options="item as labelProvider.getLabelForCommit(item) for item in commits track by item.id"
                                    ng-model="baselineCommit" ng-change="onParametersChanged()">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Previous Commit to compare with</label>
                            <select class="form-control" tabindex="3"
                                    ng-options="item as labelProvider.getLabelForCommit(item) for item in commits track by item.id"
                                    ng-model="deltaCommit" ng-change="onParametersChanged()">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <ol class="breadcrumb">
                <li ng-repeat="item in filePathArray"><a>{{item}}</a></li>
            </ol>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="box">
            <div class="box-body no-padding" cr-slim-scroll cr-slim-scroll-height="630">
                <table class="table table-condensed table-hover">
                    <tbody>
                    <tr ng-repeat="file in fileList">
                        <td><i ng-class="{'fa fa-folder-o': file.isFolder, 'fa fa-file-o': !file.isFolder}"></i></td>
                        <td>{{file.name}}</td>
                        <td>{{file.score}}</td>
                        <td> <span class="text-{{getTrendColor(metric, file.delta)}}"><i ng-class="{'fa fa-caret-up': file.delta > 0, 'fa fa-caret-down': file.delta < 0, 'fa fa-caret-right': file.delta == 0}"></i> {{file.delta}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <div class="col-md-8">
        <div class="box">
            <div class="box-body no-padding" id="codeEditor" style="height:630px" cr-ace
                 cr-ace-file-var="fullFilePath"></div>
        </div>
    </div>
</div>