[id='3canvas'] {
  position: absolute;
  z-index: -1;
}

tr {
  vertical-align: top;
  white-space: nowrap;
}

.root-file {
  width: max-content;
  margin-left: 15px;
}

.list {
  padding: 0 0 0 5px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.list__root {
  padding: 0;
  width: -webkit-fill-available;
  width: -moz-available;
  width: available;
}

.package {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  display: block;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: max-content;
  margin: 5px;
}

.package__base, .table__base {
  width: -webkit-fill-available;
  width: -moz-available;
}

.package:before {
  font-family: 'files-n-folders', sans-serif;
  content: "\e900";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.class {
  display: block;
  cursor: default;
  margin: 6px;
}

.class:before {
  font-family: 'files-n-folders', sans-serif;
  content: "\e901";
  display: inline-block;
  margin-right: 6px;
}

.class--dependency {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  display: block;
  margin: 6px;
}

.class--dependency:before {
  cursor: unset;
  font-family: 'files-n-folders', sans-serif;
  content: "\e901";
  display: inline-block;
  margin-right: 6px;
  color: red;
}

.package, .class, .class--dependency {
  padding: 5px 5px 5px 15px;
  display: inline-block;
  text-align: left;
}

.nested {
  display: none;
}

.active {
  display: table;
}

.clickable {
  cursor: pointer;
}

.header-background {
  height: 140px;
  position: absolute;
  top: 0;
  background-color: #016EC7;
  z-index: -1;
}

.filename-span {
  width: min-content;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

@font-face {
  font-family: 'files-n-folders';
  src:  url('../../../assets/fonts/files-n-folders/files-n-folders.eot?l001h2');
  src:  url('../../../assets/fonts/files-n-folders/files-n-folders.eot?l001h2#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/files-n-folders/files-n-folders.ttf?l001h2') format('truetype'),
  url('../../../assets/fonts/files-n-folders/files-n-folders.woff?l001h2') format('woff'),
  url('../../../assets/fonts/files-n-folders/files-n-folders.svg?l001h2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
