.compare-button {
  right: 7%;
  bottom: 8%;
  position: fixed;
  animation: show 0.2s;
  z-index: 3;
  transform: scale(1.5, 1.5);
}

@keyframes show {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5);
  }
}

.no-commits-message {
  height: auto;
  font-size: 24pt;
  width: 60%;
  top: 15px;
  float: right;
  margin-right: 15%;
}
