<span>
  <div style="align-content: center; margin-left: 40%; margin-top: 10px">
    <mat-form-field>
      <input type="date" [(ngModel)]="startDate" max="{{endDate}}" (ngModelChange)="showCommitsInRange()" matInput placeholder="Start date">
    </mat-form-field>
    <mat-form-field>
      <input type="date" [(ngModel)]="endDate" min="{{startDate}}" (ngModelChange)="showCommitsInRange()" matInput placeholder="End date">
    </mat-form-field>
  </div>
</span>
<span style="align-content: center; cursor: pointer;" #graph></span>
<!--<a *ngIf="selectedCommit1 !== null && selectedCommit2 != null && selectedCommit1.analyzed && selectedCommit2.analyzed"
   class="compare-button" color="accent" (click)="startCityView()" mat-fab>
  <div>
    <mat-icon style="color: white; font-size: 14pt; margin-top: 3px">library_books</mat-icon>
  </div>
</a>-->
<div *ngIf="commitLog.length == 0" >
  <p class="no-commits-message">No commits</p>
</div>
