<app-header [title]="
[{location: '/dashboard', name: 'Dashboard'}, {location: '/project/' + project.id,
name: appComponent.trimProjectName(project.name)}, {location: '/project/' + project.id + '/' + commit.hash, name: commit.hash.substring(0, 7)}]">
</app-header>

<div *ngIf="waiting" class="dark-overlay">
  <mat-spinner class="waitingIndicator" [diameter]="100"></mat-spinner>
</div>

<main class="commit-card">

  <mat-card>
    <mat-card-content class="mat-card-content">
      <mat-label><b>{{commit.hash}}</b></mat-label>
      <br><br>
      <mat-label><strong>Metrics:</strong></mat-label>
      <br><br>
      <div *ngIf="metrics.length === 0">
        <mat-label>Not yet analyzed or no metrics are available</mat-label>
      </div>
      <div *ngFor="let metric of metrics">
        <mat-label>{{metric.metricName.split('.').pop() + ' : '}}
          <strong>{{metric.value}}</strong>
        </mat-label>
        <br>
      </div>
    </mat-card-content>
  </mat-card>
</main>

<app-footer></app-footer>
