<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header"><h3 class="box-title">Display Parameters</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Baseline Commit</label>
                            <select class="form-control" tabindex="1" ng-options="item as getLabelForCommit(item) for item in commits track by item.id" ng-model="baselineCommit" ng-change="onCommitSelectionChanged()">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Previous Commit to compare with</label>
                            <select class="form-control" tabindex="2" ng-options="item as getLabelForCommit(item) for item in commits track by item.id" ng-model="deltaCommit" ng-change="onCommitSelectionChanged()">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-repeat="metricList in metrics">
    <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="metric in metricList">
        <div class="metric-box">
            <div class="info-box-content">
                <span class="info-box-text"><a href="browse.html">{{metric.displayName}}</a></span>
                <a href="hotspots.html"><span class="info-box-number">{{metric.score}}</span></a>
                <a href="delta-hotspots.html">
                    <span class="info-box-number text-{{getTrendColor(metric)}}">
                        <i ng-class="{'fa fa-caret-up': metric.delta > 0, 'fa fa-caret-down': metric.delta < 0, 'fa fa-caret-right': metric.delta == 0}"></i>
                        {{metric.delta}}
                    </span></a>
            </div>
        </div>
    </div>
</div>