
<div style="margin-top: 20px">
  <app-metric-mapping [metricMapping]="metricMapping$ | async" [availableMetrics]="availableMetrics$ | async"
                      (metricMappingChanged)="handleMetricMappingChanged($event)"></app-metric-mapping>

  <app-filter [activeFilter]="activeFilter$ | async" (filterChanged)="handleFilterChanged($event)"></app-filter>

  <app-view-control [activeViewType]="activeViewType$ | async" (viewTypeChanged)="handleViewTypeChanged($event)"></app-view-control>

</div>
