<app-header [title]="'Project dashboard'"></app-header>
<main>
  <p style="font-size:15pt;margin-right:100px; width: 70%; top: 15px; float:right">{{getTitleText()}}</p>
  <mat-grid-list cols="4" rowHeight="130px" style="margin-right:10%; margin-bottom:50px; width: 70%; top: 15px; float:right">
    <mat-grid-tile *ngFor="let commit of commits" [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content style="margin-left: 5%" class="mat-card-content">
          <a mat-button routerLink="/project/{{project.id}}/{{commit.name}}"><b>{{commit.name}}</b></a><br>
          <mat-label>Author: {{commit.author}}</mat-label><br>
          <mat-label>Date: {{timestampToDate(commit.timestamp)}}</mat-label><br>
          <mat-label>Analyzed: {{booleanToString(commit.analyzed)}}</mat-label>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</main>
<app-footer>
</app-footer>
