<div class="split" id="stage">
  <div class="vertical-line"></div>
  <app-loading-indicator *ngIf="metricsLoading$ | async"></app-loading-indicator>

  <app-screen
    [activeFilter]="activeFilter$ | async"
    [activeViewType]="activeViewType$ | async"
    [metricMapping]="metricMapping$ | async"
    [metricTree]="metricTree$ | async"
    [screenType]="screenTypes.left">
  </app-screen>

  <app-screen
    [activeFilter]="activeFilter$ | async"
    [activeViewType]="activeViewType$ | async"
    [metricMapping]="metricMapping$ | async"
    [metricTree]="metricTree$ | async"
    [screenType]="screenTypes.right">
  </app-screen>

  <app-comparison-panel
    [leftCommit]="leftCommit$ | async"
    [metricMapping]="metricMapping$ | async"
    [rightCommit]="rightCommit$ | async">
  </app-comparison-panel>

  <app-legend [activeViewType]="activeViewType$ | async"></app-legend>
</div>
<app-tooltip></app-tooltip>
