@import "../../config";

#stage {
  position: absolute;
  width: 100%;
  height: calc(100% - 140px);
  overflow: hidden;

  & > .vertical-line {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 2px;
    background: #535353;
    z-index: 98;

    transition: left 1s ease;
  }

  &.split {
    & > .vertical-line {
      left: 50%;
    }
  }
}
