<app-header [title]="[{location: '/dashboard', name: 'Dashboard'},
{location: '/project/' + project.id, name: appComponent.trimProjectName(project.name)}]"></app-header>
<div *ngIf="waiting">
  <mat-spinner [diameter]="100"  class="waitingIndicator"></mat-spinner>
</div>
<main>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="List view">
      <app-commit-list (selectedBranchOutput)="handleBranchChange($event)"
                       (contributorOutput)="handleContributorChange($event)"
                       [commits]="commits"
                       [contributors]="contributors"
                       [branches]="branches"
                       [roles]="roles"
                       [project]="project"
                       [waiting]="waiting"
                       [analysisStatus]="analysisStatus"
      >
      </app-commit-list>
    </mat-tab>
    <mat-tab label="Graph view">
      <ng-template matTabContent>
        <app-compare-branches [startDate]="getDefaultStartDate()"
                              [commitLog]="commitLog" [branches]="branches" [project]="project"></app-compare-branches>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</main>
<app-footer></app-footer>
