<span (click)="node.children.length > 0 && toggle(node); node.dependencies.length > 0 && toggleDependency(node)"
      [ngClass]="{'clickable': node.children.length > 0 || node.dependencies.length > 0}">
    {{ node.filename }}
</span>
<div *ngIf="node.expanded" class="list">
  <app-tree-node *ngFor="let child of node.children" [node]="child" (toggleEmitter)="toggle($event)" (toggleDependencyEmitter)="toggleDependency($event)"
                 [ngClass]="{'package': child.children.length > 0, 'class--dependency': child.dependencies.length > 0,
                   'class': child.children.length === 0 && child.dependencies.length === 0}"
                 id="{{child.packageName}}">
  </app-tree-node>
</div>
