.progress {
    margin: 2px;
}

label {
    padding-right: 2px;
    font-size: 1rem;
}

mat-progress-bar {
    height: 15px !important;
  }

  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }