@import "../../../config";

#legend-container {
  position: absolute;
  bottom: 0;
  left: 10px;
  background: $background-color;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 99;

  .legend-item {
    display: inline-block;
    padding: 3px 10px;

    & .legend-color {
      display: inline-block;
      width: 10px;
      height: 10px;
    }

    & .legend-color, & .legend-icon {
      margin-right: 5px;
    }
  }
}
