<div id="legend-container">
    <div class="legend-item">
        <span class="legend-icon">
            <fa-icon [icon]="faArrowsAltV"></fa-icon>
        </span>
        <small class="legend-label">{{heightMetric?.shortName}}</small>
    </div>
    <div class="legend-item">
        <span class="legend-icon">
            <fa-icon [icon]="faArrowsAlt"></fa-icon>
        </span>
        <small class="legend-label">{{groundAreaMetric?.shortName}}</small>
    </div>
    <div class="legend-item" *ngIf="activeViewType === viewTypes.split">
            <span class="legend-icon">
                    <fa-icon [icon]="faPalette"></fa-icon>
                </span>
        <small class="legend-label">{{colorMetric?.shortName}}</small>
    </div>
    <div id="legend-item-commit-1" class="legend-item" *ngIf="activeViewType === viewTypes.merged">
        <span class="legend-color" [ngStyle]="{'background': colorFirstCommit}"></span>
        <small class="legend-label">Erste Revision</small>
    </div>
    <div id="legend-item-commit-2" class="legend-item" *ngIf="activeViewType === viewTypes.merged">
        <span class="legend-color" [ngStyle]="{'background': colorSecondCommit}"></span>
        <small class="legend-label">Zweite Revision</small>
    </div>
    <div id="legend-item-added-files" class="legend-item" *ngIf="activeViewType === viewTypes.merged">
        <span class="legend-color" [ngStyle]="{'background': colorAddedFile}"></span>
        <small class="legend-label">hinzugefügt</small>
    </div>
    <div id="legend-item-deleted-files" class="legend-item" *ngIf="activeViewType === viewTypes.merged">
        <span class="legend-color" [ngStyle]="{'background': colorDeletedFile}"></span>
        <small class="legend-label">gelöscht</small>
    </div>
    <div id="legend-item-unchanged-files" class="legend-item" *ngIf="activeViewType === viewTypes.merged">
        <span class="legend-color" [ngStyle]="{'background': colorUnchangedFile}"></span>
        <small class="legend-label">unverändert</small>
    </div>
</div>