<app-header [title]="'Edit project'"></app-header>

<main class="mat-card-form">
  <div class="grid-container">
    <div  id="cardContainer" fxLayoutAlign="center center">
      <form (ngSubmit)="submitForm()">
        <mat-card>

        <!--Card title-->
          <mat-card-header>
            <mat-card-title>
              <span>Edit {{project.name}}</span>
            </mat-card-title>
          </mat-card-header>

        <mat-card-content fxLayout="column">

          <!--Form fields-->
          <mat-form-field>
              <input type="text" matInput name="name" placeholder="Project name" [(ngModel)]="project.name" required>
            </mat-form-field>
            <mat-form-field>
              <input type="url" matInput name="vcsUrl" placeholder="VCS URL" [(ngModel)]="project.vcsUrl" required>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput name="vcsUser" placeholder="VCS user" [(ngModel)]="project.vcsUser">
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput name="vcsPassword" placeholder="VCS password" [(ngModel)]="project.vcsPassword">
            </mat-form-field>
            <mat-form-field>
              <input type="date" matInput name="startDate" placeholder="Start date - leave empty to start with first commit" [(ngModel)]="project.startDate">
            </mat-form-field>
            <mat-form-field>
              <input type="date" matInput name="endDate" placeholder="End date - leave empty to scan incoming commits" [(ngModel)]="project.endDate">
            </mat-form-field>
            <mat-error *ngIf="nameEmpty">The project name must not be empty!</mat-error>
            <mat-error *ngIf="projectExists">A project with this name already exists! Please choose another name.</mat-error>
            <mat-error *ngIf="incorrectURL">The VCS URL is invalid!</mat-error>

            <!--Cancel and submit buttons-->
            <div id="cardButtons" align="center">
              <button mat-stroked-button type="button" routerLink="/dashboard">Cancel</button>
              <button mat-raised-button color="primary" type="submit">Save</button>
            </div>

          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</main>

<app-footer></app-footer>
