<form style="padding-top: 20px">
  <mat-form-field>
    <input [formControl]="formControl" [matAutocomplete]="auto" matInput placeholder="{{label}}" type="text">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="formatValue" [panelWidth]="500">
      <mat-option (onSelectionChange)="handleValueChanged(option)" *ngFor="let option of filteredOptions | async"
                  [value]="option">
        {{formatValue(option)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
