<mat-card class="mt-3">
  <div class="d-flex justify-content-between">
    <mat-card-title>Goals</mat-card-title>
    <div>
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="openGoalConfigurationDialog()">Goal configuration</button>
      </mat-menu>
    </div>
  </div>
  <div [ngClass]="{
      'goal-success': goalIsSuccessful,
      'goal-fail': !goalIsSuccessful}">
    <a id="goalProfileLink" mat-button routerLink="/dashboard">
      <img alt="logo" src="../../../../assets/logo.png">
      Goals achived
    </a>
  </div>
</mat-card>