.tree-invisible {
  display: none;
}

.file-content {
  width: 100%;
  height: 100%;
  font-size: small;
}

/deep/ .mat-tooltip {
  font-size: 15px;
  white-space: pre-line;
}

.checkbox {
  margin-left: 1%;
}

.mat-tree-node { min-height: 5px }

.filepath {
  font-weight: bold;
  margin-left: 2%;
}

.authors {
  float: right;
  width: 10%;
}

.fileTree {
  overflow: scroll;
  height: 100%
}

.fileDeleted {
  width: 50%;
  font-size: larger;
  margin-top: 5%;
  margin-left: 30%
}

.bgColor {
  background-color: rgb(245, 242, 240);
}

.fileNodeButton {
  font-weight:normal;
  margin-left: 0;
}
