<app-header [title]="[{location: '/dashboard', name: 'Dashboard'},
{location: '/project/' + projectId, name: project.name},
{location: '/project/'+projectId+'/'+commitHash+'/files',
name: 'File tree for commit ' + commitHashAbbrev}]"></app-header>
<main style="background-color: rgb(245, 242, 240);">
  <mat-checkbox class="checkbox" [(ngModel)]="showOnlyChangedFiles" (change)="getFileTree()">
    Show only files changed in this commit
  </mat-checkbox>
  <mat-checkbox class="checkbox" *ngIf="this.showOnlyChangedFiles" [(ngModel)]="showDiff"
                (change)="updateSelectedFile(null, this.currentSelectedFilepath)">
    Show diff
  </mat-checkbox>
  <span class="filepath">
    {{currentSelectedFilepath}}
  </span>
  <div class="authors">
    <h4 *ngIf="this.fileAuthors.length > 0 && this.currentFileContent.length > 0">
      Authored by:
    </h4>
    <div *ngFor="let author of fileAuthors">
      <mat-label>
        {{author.displayName}}
      </mat-label>
      <br>
    </div>
  </div>
  <div #tooltip="matTooltip" matTooltip="{{tooltipMessage}}"></div>
  <div>
    <div fxFlex="0 0 25%" fxLayout="row" style="overflow: scroll; height: 100%">
      <mat-tree fxFlex="auto" [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <button mat-button style="font-weight:normal; margin-left: 0;" (click)="updateSelectedFile(node, null)">
              {{node.path}}
            </button>
          </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.path">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
                {{node.path}}
              </button>
            </div>
            <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
    <div *ngIf="currentFileContent == '' && currentSelectedFilepath != ''" style="width: 50%;font-size: larger;margin-top: 5%; margin-left: 30%">
      File was deleted
    </div>
    <pre [class]="getPreClass()" [attr.data-line]="findingsString" #fileView>
<code [className]="getCodeClass()" [textContent]="currentFileContent"></code>
    </pre>
  </div>
</main>
<app-footer></app-footer>
