<form style="padding-top: 20px; width: 100%" >
  <mat-form-field style="width: 100%">
    <input matInput [formControl]="formControl" (blur)="onBlur()" (focus)="$event.target.select()" [matAutocomplete]="auto" placeholder="{{label}}" type="text">
    <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFunction" [panelWidth]="auto">
      <mat-option (onSelectionChange)="handleValueChanged(option)"
                  *ngFor="let option of displayOptions | async"
                  [value]="option">
                  <div innerHTML="{{option.displayValue | highlightSearch : formControl.value}}"></div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
