<app-header id="header" [title]="[{location: '/dashboard', name: 'Dashboard'},
{location: '/project/' + project.id + '/' + project.defaultBranch, name: appComponent.trimProjectName(project.name)},
{location: '/project/' + projectId + '/' + commitName + '/' + commitName2 + '/dependency-map', name: 'Dependency Map for ' + commitName + ' and ' + commitName2}]"></app-header>

<mat-checkbox class="margin-left margin-right" [checked]="checkUp" (change)="onShowUpwardChanged()">Show upward Dependencies</mat-checkbox>
<mat-checkbox class="margin-left margin-right" [checked]="checkDown" (change)="onShowDownwardChanged()">Show downward Dependencies</mat-checkbox>
<mat-checkbox class="margin-left margin-right" #3showChanged [checked]="checkChanged" (change)="onShowChangedChanged()">Show only changed Dependencies</mat-checkbox>
<mat-form-field>
  <mat-select [(value)]="selected">
    <mat-option *ngFor="let format of formats; let i = index" [value]="i">{{format.value}}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-button class="margin-left margin-right" #3screenshot (click)="screenshotListener()">Export</button>
<span #3activeDependency class="margin-left">No active dependency chosen.</span>
<div #3canvasContainer id="3canvasContainer">
  <pinch-zoom #3zoom id="3zoom" [disableZoomControl]="'disable'" [backgroundColor]="'transparent'" [draggable]="false" [transition-duration]="50">
    <drag-scroll id="3scroll" [scrollbar-hidden]="true" [scroll-x-wheel-enabled]="false">
      <div id="3dependencyTree" class="dependencyTree">
        <div *ngIf="node === undefined">
          <mat-spinner mode="indeterminate" class="spinner-center"></mat-spinner>
        </div>
        <div *ngIf="node !== undefined">
          <div [id]="node.path === '' ? '3list__root' : ''">
            <span>
              <app-tree-node [node]="node" [root]="this"  [hasSiblings]="false"></app-tree-node>
            </span>
          </div>
        </div>
      </div>
      <svg id="3svg" class="canvas"></svg>
    </drag-scroll>
  </pinch-zoom>
</div>
