[id='3canvas'] {
  position: relative;
  z-index: -1;
}

[id='3list__root'] {
  padding-left: 0;
  width: max-content;
  margin: 0;
  text-align: center;
}

.filename-span {
  width: min-content;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.spinner-center {
  margin: 0 auto;
}
