<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <form (ngSubmit)="submitForm()">
    <mat-card>
      <mat-card-header style="justify-content: center">
        <mat-card-title style="font-size: 30pt">Coderadar</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input type="text" matInput placeholder="Username"  name="username" [(ngModel)]="username" required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="password" required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm password" name="confirmPassword" [(ngModel)]="confirmPassword" required>
        </mat-form-field>
        <mat-error *ngIf="invalidUser">The chosen username is already in use!</mat-error>
        <mat-error *ngIf="invalidPassword">Password must be at least <br>8 symbols long and contain a character and a digit!</mat-error>
        <mat-error *ngIf="passwordsDoNotMatch">Passwords do not match!</mat-error>
      </mat-card-content>
      <div align="center">
        <button style="margin: 10px" mat-button type="button" routerLink="/login">Have an account? Log in</button>
        <button style="margin: 10px" mat-raised-button type="submit"  color="primary">Sign up</button>
      </div>
    </mat-card>
  </form>
</div>
