
<div style="float: left;padding-right: 50px">
  <app-commit-chooser
    [commitType]="commitTypes.left"
    [commits]="commits$ | async"
    [loading]="commitsLoading$ | async"
    [selected]="leftCommit$ | async"
    (changeCommit)="handleCommitChanged($event)"
    [label]="'First revision'">
  </app-commit-chooser>
</div>

<div style="float: left;padding-right: 50px">
  <app-commit-chooser
    [commitType]="commitTypes.right"
    [commits]="commits$ | async"
    [loading]="commitsLoading$ | async"
    [selected]="rightCommit$ | async"
    [isDisabled]="disableRightSelect"
    (changeCommit)="handleCommitChanged($event)"
    [label]="'Second revision'">
  </app-commit-chooser>
</div>

<div style="float: left; padding-right: 50px">
  <app-search [uniqueFileList]="uniqueFileList$ | async" (startSearch)="handleSearchStarted($event)"></app-search>
</div>

<app-settings></app-settings>






