<div style="float: left;padding-right: 3%">
  <app-commit-chooser
    (changeCommit)="handleCommitChanged($event)"
    [commitType]="commitTypes.left"
    [commits]="commits$ | async"
    [label]="'First revision'"
    [loading]="commitsLoading$ | async"
    [selected]="leftCommit$ | async">
  </app-commit-chooser>
</div>

<div style="float: left;padding-right: 3%">
  <app-commit-chooser
    (changeCommit)="handleCommitChanged($event)"
    [commitType]="commitTypes.right"
    [commits]="commits$ | async"
    [isDisabled]="disableRightSelect"
    [label]="'Second revision'"
    [loading]="commitsLoading$ | async"
    [selected]="rightCommit$ | async">
  </app-commit-chooser>
</div>

<div style="float: left; padding-right: 3%">
  <app-search (startSearch)="handleSearchStarted($event)" [uniqueFileList]="uniqueFileList$ | async"></app-search>
</div>

<app-settings></app-settings>






