
<div style="float: right">
  <small>First revision</small>
  <app-commit-chooser
    [commitType]="commitTypes.left"
    [commits]="commits$ | async"
    [loading]="commitsLoading$ | async"
    [selected]="leftCommit$ | async"
    (changeCommit)="handleCommitChanged($event)">
  </app-commit-chooser>
</div>

<div style="float: right">
  <small>Second revision</small>
  <app-commit-chooser
    [commitType]="commitTypes.right"
    [commits]="commits$ | async"
    [loading]="commitsLoading$ | async"
    [selected]="rightCommit$ | async"
    [isDisabled]="disableRightSelect"
    (changeCommit)="handleCommitChanged($event)">
  </app-commit-chooser>
</div>
<app-settings></app-settings>

<div style="float: right">
  <small>Search</small>
  <app-search [uniqueFileList]="uniqueFileList$ | async" (startSearch)="handleSearchStarted($event)"></app-search>
</div>




