name: analyze on sonarcloud

on:
  pull_request:
    branches:
      - master

jobs:
  analyze-sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: npm install
        run: npm install
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - run: npm install
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: analyze on sonarcloud
        run: gradle build sonarqube -Dsonar.login=${{ secrets.SONAR_TOKEN }}