<section class="content-header">
    <h1>
        Drilldown for Metric '{{metric.name}}'
        <small>Click a package/folder to drill down. Click a file to view the source code.</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table datatable="ng" dt-options="options" id="drilldownTable"
                           class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Folder / File</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="file in files">
                            <td>{{file.name}}</td>
                            <td>{{file.metrics[metric.metricId].value || 0}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Folder / File</th>
                            <th>Value</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>